<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.github.hiking93.m3demo">

	<application
		android:name="com.github.hiking93.m3demo.MainApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/Theme.App.DayNight">

		<activity
			android:name="com.github.hiking93.m3demo.MainActivity"
			android:exported="true"
			android:theme="@style/Theme.App.DayNight">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>